<ion-header>
  <ion-toolbar>
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      Notifications
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Show notifications</ion-label>
    <ion-toggle (ionChange)="notificationPref($event)" slot="end" checked></ion-toggle>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Questions
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Randomize</ion-label>
    <ion-toggle slot="end" checked></ion-toggle>
  </ion-item>
</ion-content>
