<ion-header>
  <ion-toolbar>
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      General
    </ion-label>
  </ion-item-divider>
  
  <ion-item>
    <ion-label>App enabled</ion-label>
    <ion-toggle (ionChange)="enabledPref($event)" slot="end" [checked]="appEnabled"></ion-toggle>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Notifications
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Show notification</ion-label>
    <ion-toggle (ionChange)="notificationPref($event)" slot="end" [checked]="notificationActive"></ion-toggle>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Questions
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Number of questions asked</ion-label>
    <ion-select (ionChange)="questionAmountPref($event)" [value]="questionsAmount" interface="popover">
      <ion-select-option value="01">1</ion-select-option>
      <ion-select-option value="02">2</ion-select-option>
      <ion-select-option value="03">3</ion-select-option>
      <ion-select-option value="04">4</ion-select-option>
      <ion-select-option value="05">5</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Questions time range
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <span class="date-span">
      <ion-label>From :</ion-label>
      <ion-datetime (ionChange)="changeRangeStartTime($event)" display-format="HH:mm" picker-format="HH:mm" [value]="hourToDate(timeRange.start)"></ion-datetime>
    </span>


    <span class="date-span" id="to-span">
      <ion-label>to :</ion-label>
      <ion-datetime (ionChange)="changeRangeEndTime($event)" display-format="HH:mm" picker-format="HH:mm" [value]="hourToDate(timeRange.end)"></ion-datetime>
    </span>

    <ion-toggle (ionChange)="timeRangeEnabledPref($event)" slot="end" [checked]="timeRangeEnabled"></ion-toggle>
  </ion-item>
</ion-content>
