.set-icon {
    position: relative;
    top: 2px;
}

.amount-label {
    font-size: small;
}

.edit-icon {
    position: relative;
    //top: 2px;
    font-size: xx-large; 
}

.title-div {
    display: flex;
    flex-direction: column;
}

ion-title {
    color: white;
    font-size: x-large;
    text-transform: uppercase;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

ion-card {
    padding:10px;
    display: flex;
}

ion-label {
    color: white;
    height: fit-content;
    margin: auto 0 auto 0;
}

ion-toggle {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.title-text-div {
    font-size: 80%;
    margin-bottom: 5px;
}

.title-label {
    white-space: break-spaces;
}

.set-amount-icon {
    left: 5px;
}