.set-icon {
    position: relative;
    top: 2px;
}

ion-title {
    color: white;
    font-size: x-large;
    text-transform: uppercase;
}

ion-card {
    padding:10px;
    display: flex;
}

ion-label {
    color: white;
    height: fit-content;
    margin: auto 0 auto 0;
}