<ion-card>

  <ion-toggle checked></ion-toggle>

    <ion-title>
      <div class="title-div">
        <div class="title-text-div">
          <ion-icon class="set-icon" name="file-tray-full"></ion-icon>      
          {{title}}
        </div>

        <ion-label class="amount-label">
          x {{amount}}
          <ion-icon class="set-icon" name="reader"></ion-icon>
        </ion-label>
      </div>

    </ion-title>

    <ion-label>
      <ion-icon (click)="editAction()" class="edit-icon" name="settings-sharp"></ion-icon>        
    </ion-label>
</ion-card>
