<ion-card>

  <ion-toggle (ionChange)="changeStatus($event)" [checked]="active"></ion-toggle>

    <ion-title>

      <div class="title-div">

        <div class="title-text-div">
               
          <ion-label class="title-label">
            <ion-icon class="set-icon" name="file-tray-full"></ion-icon> 
            {{title}}
          </ion-label>
        </div>

        <ion-label class="amount-label">
          <ion-label>x {{amount}}</ion-label>
          <ion-icon class="set-icon" name="reader"></ion-icon>
        </ion-label>
      </div>

    </ion-title>

    <ion-label>
      <ion-icon (click)="editAction()" class="edit-icon" name="settings-sharp"></ion-icon>        
    </ion-label>
</ion-card>
