.set-icon {
    position: relative;
    top: 2px;
}

.amount-label {
    font-size: small;
}

.edit-icon {
    position: relative;
    //top: 2px;
    font-size: xx-large; 
    margin-left: 20px;
}

.title-div {
    display: flex;
    flex-direction: column;
}

ion-title {
    color: white;
    font-size: x-large;
    text-transform: uppercase;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

ion-card {
    padding:10px;
    display: flex;
}

ion-label {
    color: white;
    height: fit-content;
    margin: auto 0 auto 0;
}

ion-toggle {
    position: relative;
    top: 5px;
}