<ion-header>
  <ion-toolbar>
    <ion-title>Question sets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newSet()">
        <ion-icon class="add-icon" name="add"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/question']">
        <ion-icon class="add-icon" name="shuffle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="questionSets.length == 0 " class="empty-div">
    <ion-title class="empty-label">
      Wow such empty...
    </ion-title>
  </div>

  <div *ngFor="let set of questionSets">
    <app-questions-set [active]="set.active" [title]="set.title" [amount]="set.amount" [setId]="set.set_id" (editSet)="editSet($event)"></app-questions-set>
  </div>

</ion-content>
